*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.body {
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}

.App {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.tile {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

/* 
.tile:nth-child(2, 3) {
  background-color: rgb(216, 216, 216);
} */

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}