*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.body {
  margin: 0px;
  padding: 0px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle at center left, rgb(207, 135, 220), rgb(59, 104, 195));
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  box-shadow: rgba(43, 43, 43, 0.5) 0px 3px 8px, rgba(63, 63, 63, 0.5) 0px 3px 8px;
  overflow: hidden;
}

.board-state {
  color: rgba(0, 0, 0, 0.6);

}

.information {
  color: rgba(0, 0, 0, 0.8);
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}

.tile:nth-child(1),
.tile:nth-child(3),
.tile:nth-child(5),
.tile:nth-child(7),
.tile:nth-child(10),
.tile:nth-child(12),
.tile:nth-child(14),
.tile:nth-child(16),
.tile:nth-child(17),
.tile:nth-child(19),
.tile:nth-child(21),
.tile:nth-child(23),
.tile:nth-child(26),
.tile:nth-child(28),
.tile:nth-child(30),
.tile:nth-child(32),
.tile:nth-child(33),
.tile:nth-child(35),
.tile:nth-child(37),
.tile:nth-child(39),
.tile:nth-child(42),
.tile:nth-child(44),
.tile:nth-child(46),
.tile:nth-child(48),
.tile:nth-child(49),
.tile:nth-child(51),
.tile:nth-child(53),
.tile:nth-child(55),
.tile:nth-child(58),
.tile:nth-child(60),
.tile:nth-child(62),
.tile:nth-child(64) {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

#starting-horse {
  text-align: center;
  color: rgb(32, 32, 32)
}

.buttons {
  display: flex;
}

/* .buttons >div */